.details-container {
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 20px 20px;
  margin: 20px 0px;
  background-color: var(--background);
}

.details-container h5 {
  margin: 0px;
  padding: 0px;
}

.details-container p {

}
