@import url('./details.css');
@import url('./related.css');
@import url('./comments.css');

.player-container {
  padding-top: 20px;
  display: flex;
}

.left-frame {
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-frame {
  width: 320px;
  display: flex;
  flex-direction: column;
}
