.related-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.related-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.related-list {

}

.related-item {
  margin: 5px 0px;
  display: flex;
}

.related-item-info {
  padding: 5px;
}

.related-item-info h1 {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  color: #333;
}

.related-item-info p {
  font-size: 10px;
  color: grey;
}

.related-item-info:hover{
  color: #036;
}

.related-item img {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  /*width: 168px;*/
}
