.logo {
  background-image: url('../../../assets/google-logo.png');
  background-size: 112px 36px;
  height: 36px;
  width: 112px;
  margin: 25px auto 20px;
}

.header {
  padding-left: 10px;
  padding-right: 10px;
  height: 83px;
}

.banner {
  text-align: center;
}

.banner h2 {
  margin-bottom: 15px;
  color: #555555;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Open Sans', arial;
}

.main-content {
  padding: 0px 44px 100px 44px;
  height: 450px;
}

.card {
  background-color: #f7f7f7;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  height: 354px;
  /*width: 354px;*/
  min-width: 296px;
  max-width: 354px;
  margin: 0 auto;
}

.form {
  margin: 0 auto;
  width: 274px;
  padding: 20px;
}

.profile-icon {
  background-image: url('../../../assets/profile-icon.png');
  background-size: contain;
  border-radius: 100px;
  filter: grayscale(100%);
  opacity: 0.5;
  height: 72px;
  width: 72px;
  margin: 0 auto;
}

.login-input {
  margin-top: 16px;
  font-size: 16px;
  height: 44px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  box-sizing: border-box;
  color: #404040;
  padding: 0 8px;
}

.login-submit {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  margin-bottom: 10px;
  min-width: 46px;
  text-align: center;
  font-weight: 700;
  height: 36px;
  line-height: 36px;
  margin-top: 10px;
}

.error-message {
  margin: 0.5em 0;
  display: block;
  color: #dd4b39;
  line-height: 17px;
  font-size: 14px;
  margin: 10px 0;
}

.red-border {
  border: 1px solid #dd4b39;
}
