@import url('base/reset.css');
@import url('base/color.css');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('components/navbar/_.css');
@import url('components/sidebar/_.css');
@import url('components/searchindex/_.css');
@import url('components/footer/_.css');
@import url('components/category_box/_.css');
@import url('components/player/_.css');

@import url('./responsive.css');

html {
  font-family: "Roboto", arial, sans-serif
}

.relative-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F1F1F1;
}

.hidden {
  display: none;
}

.redish {
  color: #e62117;
}

.greyscale {
  filter: grayscale(100%);
}

/** {
  filter: invert(0%);
}*/
