@import url('base/reset.css');
@import url('base/color.css');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('components/navbar/_.css');
@import url('components/sidebar/_.css');
@import url('components/searchindex/_.css');
@import url('components/footer/_.css');
@import url('components/video_box/_.css');
@import url('components/player/_.css');

@import url('./responsive.css');

html {
  font-family: "Roboto", arial, sans-serif
}

.relative-content {
  /*position: relative;*/
  display: flex;
  flex-direction: row;
  /*align-items: flex-start;
  display: flex;
  justify-content: center;*/
  /*background-color: #F1F1F1;*/
}

.main-content {
  width: 100%;
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hidden {
  display: none;
}

.redish {
  color: #e62117 !important;
}

.greyscale {
  filter: grayscale(100%);
}

/** {
  filter: invert(0%);
}*/
