@media screen and (max-width: 750px) {

/*navbar*/

  .navbar {
    justify-content: flex-start;
  }

  .navbar-center-menu {
    min-width: 100px;
    flex-grow: 2;
  }

  .navbar-left-menu {
    min-width: 80px;
    justify-content: flex-start;
  }

  .navbar-right-menu {
    min-width: 40px;
    width: 10%;
    margin-left: 20px;
    justify-content: flex-end;
  }

  .upload-icon {
    display: none;
  }

  .beads-image {
    display: none;
  }
}
