@media screen and (max-width: 1134px) {

  .navbar {
    justify-content: center;
  }

  .navbar-center-menu {
    min-width: 248px;
  }

  .navbar-left-menu {
    min-width: 80px;
    justify-content: flex-end;
    padding-right: 1%;
  }

  .navbar-right-menu {
    min-width: 80px;
    padding-left: 1%;
    justify-content: flex-start;
  }

  .upload-icon {
    display: none;
  }

  .beads-image {
    display: none;
  }

  .youtube-logo {
    display: none;
  }

  .burger {
    display: inherit;
  }



  /*#sidebar-menu{
    display: none;
  }*/

  /*#sidebar-carrot{
    display: none;
  }*/



}
