.category-box-item {
  height: 159px;
  width: 196px;
}

.category-box-item img {
  height: 110px;
  width: 196px;
}

.category-box-item h1 {
  color: #167ac6;
  font-weight: 500;
  font-size: 13px;
}

.category-box-item-title {
  width: 196px;
}

.category-box-item-title:hover {
  text-decoration: underline;
}

.category-box-item-channel {
  width: 196px;
  font-size: 11px;
  color: #767676;
  display: block;
}

.category-box-item-channel:hover {
  color: #167ab6;
}

.category-box-item-channel > p {
  display: inline;
}

.category-box-item-channel > p:hover {
  text-decoration: underline;
}

.category-box-item-info {
  font-size: 11px;
  color: #767676;
}

.category-box-item-date::before {
  content: '\002022';
  margin: 0 5px;
}
