
.sidebar {
  position: absolute;
  left: 0px;
  width: 240px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 13px;
  color: #333;
  background-color: white;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #e2e2e2;
  width: 240px;
  padding: 12px 0;
}

.sidebar-section:last-of-type {
  border-bottom: none;
}

.sidebar-item {
  padding-left: 16px;
  display: flex;
  width: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; 
  height: 40px;
  cursor: pointer;
}

#sidebar-header {
  height: 57px;
}

#sidebar-header i {
  padding: 0;
  padding-right: 16px;
}

.sidebar-item:hover {
  background: #f4f4f4;
}


.sidebar-header {
  font-size: 14px;
  color: hsl(0, 0%, 53.3%);
  padding-left: 24px;
  height: 20px;
  cursor: pointer;
}

.sidebar-item a {
  display: flex;
  align-items: center;
}

.sidebar-item i {
  padding-right: 20px;
  margin: 8px;
  height: 24px;
  color: hsl(0, 0%, 53.3%);
}

.sidebar-item span {
  font-weight: 400;
  font-size: 14px;
  vertical-align: center;
  margin: auto 0;
}

.sidebar-item a img {
  height: 24px;
  border-radius: 24px;
}

@media screen and (min-width: 1300px) {
  #sidebar {
    position: static;
  }
}