
.sidebar {
  /*display: none;*/
  position: absolute;
  width: 230px;
  margin-top: 10px;
  padding: 0px 22px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: #333;
  background-color: white;
}

.sidebar a {
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
}

.sidebar a i {
  font-size: 100%;
  padding: 3px;
}

.sidebar a span {
  margin-left: 6px;
}
