
.sidebar {
  width: 230px;
  padding: 13px 22px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  border: solid 1px #e2e2e2;
  border-radius: 2px;
  font-size: 13px;
  color: #333;
}

.sidebar a {
  line-height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 28px;
}

.sidebar a i {
  font-size: 100%;
  padding: 3px;
}

.sidebar a span {
  margin-left: 6px;
}
