@import url('./index_item.css');

.search-index {
  min-height: 600px;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin-top: 56px;
  /*background-color: #f1f1f1;*/
}

.search-index-container {
  background-color: white;
  width: 693px;
}

.search-index-container-top {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  border-bottom: 2px solid rgba(241,241,241,1);
  background-color: white;
}

.search-index-container-top p {
  font-size: 12px;
  color: grey;
}

.page-numbers {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px;
}

.page-numbers button {
  border: 1px solid #d3d3d3;
  background: #f8f8f8;
  color: #333;
  height: 28px;
  padding: 0 10px;
  font-weight: bolder;
  vertical-align: center;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  font-size: 11px;
  margin: 1px 1px;
}

.page-numbers button:hover {
  background: #f0f0f0;
}

.page-numbers button[disabled] {
  opacity: 0.5;
  box-shadow: none;
  cursor: auto;
}

.page-numbers button[disabled]:hover {
  background: #f8f8f8;
}
