.video-box-item {
  height: 199px;
  width: 196px;
}

.video-box-item-image {
  position: relative;
  display: block;
  height: 110px;
  width: 196px;
  margin-bottom: 6px;
}

.video-box-item-image img {
  height: 110px;
  width: 196px;
}

.video-box-item-image span {
  display: block;
  position: absolute;
  right: 2px;
  bottom: 2px;
  font-size: 11px;
  background-color: #000;
  color: #fff;
  height: 14px;
  line-height: 14px;
  opacity: 0.75;
  padding: 0 4px;
}

.video-box-item h1 {
  color: #111;
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 10px;
}

.video-box-item-title {
  width: 196px;
}

.video-box-item-title:hover {
  text-decoration: underline;
}

.video-box-item-channel {
  width: 196px;
  font-size: 11px;
  color: #444;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.video-box-item-channel:hover {
  /*color: var(--video-title);*/
}

.video-box-item-channel > p {
  display: inline;
}

.video-box-item-channel > p:hover {
  text-decoration: underline;
}

.video-box-item-info {
  font-size: 11px;
  color: #888;
}

.video-box-item-date::before {
  content: '\002022';
  margin: 0 5px;
}
