@import url('./search_bar.css');
@import url('./center_menu.css');
@import url('./right_menu.css');
@import url('./left_menu.css');
@import url('./dropdown_menu.css');

.navbar {
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 8px -3px rgba(17, 17, 17, .16);
  background-color: var(--background);
  position:fixed;
  top: 0;
  z-index: 100;
}

.navbar div i {
  opacity: 0.5;
  cursor: pointer;
}

.navbar div i:hover {
  opacity: 1;
}
