#dropdown-menu {
  position: absolute;
  right: -10px;
  top: 0px;
  /*height: 200px;*/
  width: 300px;
  background: #fff;
  border: 1px solid #c5c5c5;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  outline: none;
  box-sizing: border-box;
}


.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  height: 108px;
  background: #F5F5F5;
}

.user-info img {
  height: 48px;
  width: 48px;
  margin-bottom: 10px;
}


#dropdown-menu .user-info h1 {
  font-weight: 500;
  margin-bottom: 1px;
  font-size: 15px;
}

#dropdown-menu .button-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0;
  font-size: 15px;
  font-weight: 300;
  border-bottom: 1px solid #e2e2e2;
}

#dropdown-menu .button-list button {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  white-space: nowrap;
  padding: 0 16px;
  min-height: 36px;
  cursor: pointer;
  vertical-align: center;
}

#dropdown-menu .button-list button:hover {
  background: #f4f4f4;
}

.dropdown-options {
  color: hsl(0, 0%, 53.3%)
}