.navbar-left-menu {
  /*width: 200px;*/
  min-width: 25%;
  padding-right: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.youtube-logo {
  height: 56px;
  width: 112px;
}
