.navbar-right-menu {
  width: 25%;
  min-width: 200px;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.navbar-right-menu .navbar-user-picture {
  height: 32px;
  width: 32px;
  border-radius: 50px;
}

.sign-in-text {
  color: hsl(3, 81.8%, 49.6%);
  font-size: 14px;
  font-weight: bold;
}

.navbar-bug-icon {
  padding: 5px;
}

@media screen and (min-width: 750px) {
  .navbar-bug-icon {
    padding: 20px;
  }
}