.navbar-right-menu {
  width: 25%;
  min-width: 200px;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.navbar-right-menu i,img {
  margin-right: 20px;
}

.navbar-right-menu img {
  height: 27px;
  width: 27px;
  border-radius: 50px;
}

.sign-in-text {
  color: hsl(3, 81.8%, 49.6%);
  font-size: 14px;
  font-weight: bold;
}

.beads-image {
  height: 30px;
  width: 30px;
  opacity: .5;
}

#dropdown-menu {
  position: absolute;
  right: 15px;
  top: 55px;
  height: 200px;
  width: 270px;
  background: #e2e2e2;
}
