.navbar-right-menu {
  width: 25%;
  min-width: 200px;
  padding-left: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sign-in-text {
  color: hsl(3, 81.8%, 49.6%);
  font-size: 14px;
  font-weight: bold;
}

.beads-image {
  height: 30px;
  width: 30px;
  opacity: .5;
}
