.navbar-right-menu {
  width: 25%;
  min-width: 200px;
  padding: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-right-menu i,img {
  margin-right: 20px;
}

.sign-in-text {
  color: hsl(3, 81.8%, 49.6%);
  font-size: 14px;
  font-weight: bold;
}

.beads-image {
  height: 30px;
  width: 30px;
  opacity: .5;
}
