.search-bar {
  font-size: 16px;
  display: flex;
}

.search-bar input {
  width: 90%;
  height: 42px;
  font-size: 100%;
  padding: 2px 6px;
  box-sizing: border-box;
  border: solid 1px #d3d3d3;
  border-right: none;
  /*min-width: 245px;*/
}

.search-bar button {
  width: 10%;
  height: 42px;
  color: #333;
  font-size: 11px;
  border: solid 1px #d3d3d3;
  border-left: none;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: center;
  font-weight: 500;
  width: 10%;
  text-align: center;
}

/*.search-bar button:hover {
  opacity: 1;
  background: #f0f0f0;
}*/

.search-bar button:focus {
  box-shadow: none;
}

/*.search-bar button:active {
  background: #e9e9e9;
}*/

.seach-bar button i {
  height: 30px;
}
