.channel-about {
  display: flex;
  padding: 16px 30px;
  color: rgb(17, 17, 17);
}

.channel-about h1 {
  font-size: 16px;
  margin: 24px 0;
}

.channel-about a {
  color: #126afc;
  cursor: pointer;
}

.channel-about a:hover {
  text-decoration: underline;
}

.channel-about ul, .channel-about span  {
  font-size: 14px;
}

.channel-about li {
  line-height: 14px;
  display: block;
  height: 20px;
}

.channel-about-left {
  flex: 3;
}

.channel-about-right {
  flex: 1;
}